form(method="post" action="/register")
    table
        tr
            td Username
            td
                input(type="text" name="username" value="")
        tr
            td Fullname
            td
                input(type="text" name="fullname" value="")
        tr
            td Password
            td
                input(type="password" name="password" value="")
        tr
            td Confirm Password
            td
                input(type="password" name="confirm-password" value="")
        tr
            td
            td 
                input(type="submit" value="Register")